.forgotPassword {
    line-height: 45px;
    position: relative;
    a {
        position: relative;
        top: -15px;
        display: block;
        text-align: right;
        font-size: .8rem;
    }

}

.button {
    margin: 20px 0,
}