.status {
    justify-self: end;
}

.signer {
    display: flex;

    a, button {
        font-weight: 600;
        width: 65px;
        color: #fff;
        height: 60px;
        font-size: .8rem;
        flex-direction: column;
    }

    div:first-child {
        border-left-color: #ccc;
    }

    svg {
        height: 60px;
        width: 40px;
        color: #fff;
        cursor: pointer;
    }
}
  
.statusUser {
    width: 65px;
    display: block;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

